h4 {
    color: blue;
    font-style: italic;
}

li {
    color: black;
    padding-top: 0.1875rem;
    font-size: 0.9375rem;
}

#app {    
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    min-width: 15.625rem;
    max-width: 31.25rem;
    /* width: 250px; */
    border-color: rgb(25, 117, 255);
    border-style: solid;
    border-width: 0.1875rem;
    padding: 0.9375rem;
}

#fitness-tracker {
    padding: 5px;
}

#logged-in {
    padding: 5px;
}

.success {
    color: green;
    font-size: 1.25rem;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1875rem;
    padding: 0.1875rem;
    text-align: center;
}

.failure {
    color: red;
    font-size: 1.25rem;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1875rem;
    padding: 0.1875rem;
    text-align: center;
}

.expired {
    color: rgb(39, 39, 39);
    font-size: 1.25rem;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1875rem;
    padding: 0.1875rem;
    text-align: center;
}

#username-highlight {
    color:rgb(13, 58, 155)
}

#password-highlight {
    color:rgb(13, 58, 155)
}

#error-username-highlight {
    color: red;
}

#error-password-highlight {
    color: red;
}

.warning {
    color: rgb(236, 92, 34);
    font-size: 1.25rem;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1875rem;
    padding: 0.1875rem;
    text-align: center;
}

.date-picker {
    position: relative;
    margin: 0 auto;
}

.calendar-date-picker {
    min-width: 18.75rem;
    width: 18.75rem;
    height: 19.25rem;
}

.create-delete-button {
    width: 5rem;
    text-align: center;
    margin: auto;
}

#new-set {
    display: flex;
    flex-direction: column;
}

#wgt-reps {
    display: flex;
    flex-direction: row;
    height: 1.5rem;
}

#wgt {
    order: 1;
    max-width: 5rem;
}

#reps {
    order: 2;
    max-width: 3rem;
}

#distance-time {
    display: flex;
    flex-direction: column;
}

#distance {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 1.5rem;
}

#distance-input {
    width: 7rem;
    float: left;
    position: relative;
}

#distance-units {
    width: 5.26875rem;
}

#time {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 1.5rem;
}

.time-measurement {
    width: 2rem;
}

#save-button {
    order: 3;
    width: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}